<template>
  <div class="container">
    <button class="btn btn-primary px-5 ml-2" @click="showUsers">Show Users Name</button>
    <button class="btn btn-primary px-5 ml-2" @click="showComment">Show Comments</button>
    <button class="btn btn-primary px-5 ml-2" @click="showPost">Show Posts</button> 
    <ul class="list-group text-left">
        <li class="list-group-item" v-for="user in users" :key="user.id">{{user.name}}</li>
    </ul>
    <ul class="list-group text-left">
        <li class="list-group-item" v-for="post in posts" :key="post.id">{{post.title}}</li>
    </ul>
    <ul class="list-group text-left">
        <li class="list-group-item" v-for="comment in comments" :key="comment.id">{{comment.name}}</li>
    </ul>
    <!-- <div class="card border-success mb-3" style="max-width: 50rem;">
      <div class="card-header bg-transparent border-success">
        <button class="btn btn-success" @click="showUsers">Show Users Name</button>
      </div>
      <div class="card-body text-success">
        <ul>
          <li v-for="user in users" :key="user.id">
            {{user.name}}  -->
            <!-- <button class="btn btn-success ml-2" @click="showComment">Show Comments</button>
            <button class="btn btn-success ml-2" @click="showPost">Show Posts</button> -->
          <!-- </li>
        </ul> -->
        <!-- <h5>{{users.name}}</h5> -->
        <!-- <p>{{posts.title}}</p>
        <p>{{comments.name}}</p> -->
      <!-- </div> -->
      <!-- <div class="card-footer bg-transparent border-success">
        <button class="btn btn-success ml-2" @click="showComment">Show Comments</button>
        <button class="btn btn-success ml-2" @click="showPost">Show Posts</button> 
      </div>-->
    <!-- </div> -->
  </div>
</template>

<script>
export default {
  name: "showAPI",
  data() {
    return {
      users: [],
      posts: [],
      comments: []
    };
  },
  methods: {
    showUsers() {  
        this.posts=[];
        this.comments=[]; 
        axios.get("https://jsonplaceholder.typicode.com/users").then(response => {
        this.users = response.data;
      });  
    },
    showComment() {
      this.posts = [];
      this.users = [];
      axios
        .get("https://jsonplaceholder.typicode.com/comments")
        .then(response => {
          this.comments = response.data;
        });
    },
    showPost() {
      this.users = [];
      this.comments = [];
      axios.get("https://jsonplaceholder.typicode.com/posts").then(response => {
        this.posts = response.data;
      });
    }
  }
};
</script>
<style>
</style>

