<template>
  <div id="app">
    <showAPI/>
  </div>
</template>

<script>

import showAPI from './components/showAPI.vue'

export default {
  name: 'app',
  components: {
    showAPI
  },
  data(){
    return{
      users:[]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
